#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: solid black 1px;
    margin: 5px;
    /* align-items: end; */
}

button {
  margin : 5px;
  align-items: right;
  color: black;
  background-color: #009688 !important;
}

form {  
  display: flex;
  align-items: center;
  justify-content: center
}

.createBtn {
  background-color: #f44336 !important;
}

input {
  height: 6vh;
  width: 35%;
  margin-right: 8px;
  border-radius: 3px;
}